<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">
<head>
</head>
<body>

	<!--sidebar end-->
	<!--main content start-->
	<section id="main-content" layout:fragment="content">
		<section class="wrapper">
			<h2 class="w3ls_head" th:text="${khachhang.isEdit ? 'Sửa thông tin khách hàng du lịch' : 'Thêm khách hàng'} " ></h2>
			<div th:if="@{message != null}" class="alert alert-primary">
        			<i>[[${message}]]</i>
          </div>
			<form th:action="@{/admin/khachhang/saveOrUpdate}" method="post"
				th:object="${khachhang}">
				<div class="row">
					<div class="col justify-content-center">
						<section class="panel">
							
							           
							<div class="panel-body">
								<div class="position-center">
									<form role="form">
									<input type="hidden" th:field="*{isEdit}"/>
										<div class="form-group" th:field="*{isEdit}">
											<label for="idtinh" th:if="${khachhang.isEdit}">ID Khach hang</label>
											
											 <input type="text"
												class="form-control" th:if="${khachhang.isEdit}" readonly name="idtinh" th:field="*{idkhachhang}" id="idtinh"
												aria-describedby="tinhhe" placeholder="ID Tinh">
												 <small th:if="${#fields.hasErrors('idkhachhang')}"
												id="tinhhe" class="form-text text-muted"></small>
										</div>

										<div class="form-group">
											<label for="idtinh">Tên khách hàng</label>
											 <input type="text"
												class="form-control" name="idtinh" th:field="*{ten}" id="idtinh"
												aria-describedby="tinhhe" placeholder="ID Tinh">
												 <small th:if="${#fields.hasErrors('ten')}"
												id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
										</div>
										<div class="form-group">
                                        <label for="idtinh">Ngày sinh</label> <input type="date"
												class="form-control" name="ngaysinh"  th:field="*{ngaysinh}" 
												id="ngaysinh" aria-describedby="ngaysinh" placeholder="ngaysinh">
											<small
                                            id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
                                    </div>
                                   <form>
                                   
                                    <div class="" style="font-weight: bold">
                                    <label>Giới tính: </label>
                                    <input type="radio"  name="gioitinh" th:field="*{gioitinh}" value="Nam"> Nam
                                    <input style="margin-left: 1%" type="radio" name="gioitinh" th:field="*{gioitinh}" value="Nữ" > Nữ
                                    </div>
                       </form>
                        
										 <div class="form-group">
                                        <label for="idtinh">Số Căn Cước</label>
                                         <input type="text"
                                            class="form-control" name="idtinh" th:field="*{cmnd}" id="idtinh"
                                            aria-describedby="tinhhe" placeholder="ID Tinh">
                                             <small th:if="${#fields.hasErrors('cmnd')}"
                                            id="tinhhe" class="form-text text-muted">CMND is requires or invalid</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="idtinh">Địa Chỉ</label>
                                         <input type="text"
                                            class="form-control" name="idtinh" th:field="*{diachi}" id="idtinh"
                                            aria-describedby="tinhhe" placeholder="ID Tinh">
                                             <small th:if="${#fields.hasErrors('diachi')}"
                                            id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
                                    </div>
                                     <div class="form-group">
                                        <label for="idtinh">Email</label>
                                         <input type="text"
                                            class="form-control" name="idtinh" th:field="*{email}" id="idtinh"
                                            aria-describedby="tinhhe" placeholder="ID Tinh">
                                             <small th:if="${#fields.hasErrors('email')}"
                                            id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
                                    </div>
                                     <div class="form-group">
                                        <label for="idtinh">Số Điện Thoại</label>
                                         <input type="text"
                                            class="form-control" name="idtinh" th:field="*{sdt}" id="idtinh"
                                            aria-describedby="tinhhe" placeholder="ID Tinh">
                                             <small th:if="${#fields.hasErrors('sdt')}"
                                            id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
                                    </div>
                                     
										
										 <button type="submit" class="btn btn-primary" th:text="${khachhang.isEdit ? 'Update' : 'Save'  } " ><i class="fas fa-save"></i>
                           
                            Save
                            </button>

										<a th:href="@{/admin/khachhang}" class="btn btn-success">List
											categories</a>
										<button class="btn btn-secondary">Reset</button>

									</form>
								</div>

							</div>
						</section>

					</div>
				</div>

			</form>

		</section>


	</section>

	<!--main content end-->
	</section>

</body>
</html>
