<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}">
<head>
</head>
<body>
	
<section id="main-content" layout:fragment="listtinh">
    <section class="wrapper text-center">
        <h2 class="w3ls_head">Danh sách hóa đơn tour</h2>

         
           <div class="row mt-2 mb-2">
       <div class="col">
         <form th:action="@{/admin/tinh/search}" >
           <div class="form-inline">
             <label for="tentinh">Tìm kiếm </label>
             <input type="text" class="form-control ml-2" name="tentinh" id="tentinh" aria-describedby="helpId" placeholder="tentinh">
             <button  class=" btn btn-outline-primary ml-2">Search</button>
           </div>
         </form>
         
       </div>
     </div>   
     <div class="row"  >
        	<div class="col">
        	<div class="alert alert-primary" role = "alert" >
        		<strong>No tinh found</strong>
        	</div>
        	</div>
        </div>
        <div class="card-body">
        
        <table class="table table-light table-hover border-primar">
            <thead>
              <tr>
                <th scope="col">ID hóa đơn</th>
                <th scope="col">ID phiếu đặt</th>
                <th scope="col">Ngày thanh toán </th>
                <th scope="col">Tổng tiền</th>
                 <th scope="col">Tình trạng</th>
                  <th scope="col">Chức năng</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each= " hoadon : ${hoadon}" >
                <th scope="row">[[${hoadon.idhoadon}]]</th>
                <th scope="row">[[${hoadon.idphieudat}]]</th>
                <td scope="row" th:text="${hoadon.ngaythanhtoan}"> </td>
                 <td scope="row" th:text="${hoadon.tongtien}"> </td>
                  <td scope="row" th:text="${hoadon.tinhtrang}"> </td>
            <td>
                     
                       
                       <a th:href="@{'/admin/hoadon/delete/' + ${hoadon.idhoadon} }" class="btn btn-outline-danger"><i class="fas fa-recycle"></i></a>
                            </td>
                       </tr>
                   </tbody>
           </table>
          <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
</section>
</body>
</html>
