<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">
<head>
</head>
<body>

	<!--sidebar end-->
	<!--main content start-->
	<section id="main-content" layout:fragment="content">
		<section class="wrapper">
			<h2 class="w3ls_head">quản lí danh sách phương tiện</h2>
			<div th:if="@{message != null}" class="alert alert-primary">
        			<i>[[${message}]]</i>
          </div>
			<form th:action="@{/admin/phuongtien/saveOrUpdate}" method="post"
				th:object="${phuongtien}">
				<div class="row">
					<div class="col justify-content-center">
						<section class="panel">
							
							           
							<div class="panel-body">
								<div class="position-center">
									<form role="form">
									<input type="hidden" th:field="*{isEdit}"/>
										<div class="form-group" th:field="*{isEdit}">
											<label for="idtinh" th:if="${phuongtien.isEdit}">ID Phuong tien</label>
											
											 <input type="text"
												class="form-control" th:if="${phuongtien.isEdit}" readonly name="idtinh" th:field="*{idphuongtien}" id="idtinh"
												aria-describedby="tinhhe" placeholder="ID Tinh">
												 <small th:if="${#fields.hasErrors('idphuongtien')}"
												id="tinhhe" class="form-text text-muted"></small>
										</div>

										<div class="form-group">
											<label for="idtinh">Tên phương tiện</label>
											 <input type="text"
												class="form-control" name="idtinh" th:field="*{tenphuongtien}" id="idtinh"
												aria-describedby="tinhhe" placeholder="ID Tinh">
												 <small th:if="${#fields.hasErrors('tenphuongtien')}"
												id="tinhhe" class="form-text text-muted">Tinh is requires or invalid</small>
										</div>
										 <div class="input-group">
                                    <span class="input-group-addon">Suc chua</span>
                                    <input type="number" id="songay"  class="form-control" th:field="*{succhua}"  placeholder="Số ngày">
                                    
                                </div>
										<button class="btn btn-primary">
											<i class="fas fa-save"></i> 
											<span th:if="${phuongtien.isEdit}"></span>Update
											<span th:unless="${phuongtien.isEdit}">Save</span>
										</button>

										<a th:href="@{/admin/phuongtien}" class="btn btn-success">List
											categories</a>
										<button class="btn btn-secondary">Reset</button>

									</form>
								</div>

							</div>
						</section>

					</div>
				</div>

			</form>

		</section>


	</section>

	<!--main content end-->
	</section>

</body>
</html>
